body {
    margin: 0;
    padding: 0;
}

header {

    display:flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #215696;
    width: 100%;
}

.logo {
    width: 100px;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    align-items: center;
    border-radius: 40px;
    background-color: #e2f5fe;
    width: 40%;
    height: 40px;
    margin-left: 20px;
}

.lupa {
    width: 20px;
    margin-left: 10px;
}

.buscar {
    flex: 1;  /* Permite que la caja de texto ocupe el espacio restante */
    border: none; /* Elimina el borde por defecto del input */
    background-color: transparent; /* Fondo transparente para que coincida con el contenedor */
    margin: 0 10px; /* Ajusta los márgenes según tus preferencias */
    padding: 0 10px; /* Agrega un poco de padding interno */
    outline: none; /* Elimina el contorno al enfocar el input */
}

.container3 {
display: flex;
width: 250px;
justify-content: space-evenly;
align-items: center;
justify-items: center;
flex-wrap: wrap;
}

.Inicio, .Registrar {
    color: black;
    text-align: center;
    background-color: #e2f5fe;
    border-radius: 40px;
    width: 100px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px black;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.Inicio:hover, .Registrar:hover {
    transform: translateY(-2px);
}

/*Cuerpo*/
.informacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 1050px;
    flex-wrap: wrap;
    background-image: url('src/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.divContainerS {
    display: flex;
    text-align: center;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    padding: 20px;
}

.buttomS {
    background-color: #fdd7a8;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.buttomS:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #eacca7;

}

.tituloS {
    color: #00bbd8;
    font-size: 50px;
}

.parrafoS {
    text-align: left;
    font-size: 20px;
}

.celular_logo {
    width: 336.7px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: #215696;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
}
.container1F {
    color: white;
    text-align: left;
    padding: 0px 10px;
    flex-grow: 1;
}

.container2F {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 20%;
    flex-grow: 1;
}

.link {
    color: white;
    margin-bottom: 10px;
    flex-grow: 1;
    text-align: center;
}

.container3F {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
    flex-grow: 1;
}

#back_top {
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #215696;
    color: white;
    border: none;
    cursor: pointer;
}

.imgGooglePlay {
    width: 150px;
}

.imgAppStore {
    width: 120px;
}

.imgAppStore, .imgGooglePlay {
    cursor: pointer;
}