body {
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #215696;
    width: 100%;
}

.logo {
    width: 100px;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    align-items: center;
    border-radius: 40px;
    background-color: #e2f5fe;
    width: 40%;
    height: 40px;
    margin-left: 20px;
}

.lupa {
    width: 20px;
    margin-left: 10px;
}

.buscar {
    flex: 1;  /* Permite que la caja de texto ocupe el espacio restante */
    border: none; /* Elimina el borde por defecto del input */
    background-color: transparent; /* Fondo transparente para que coincida con el contenedor */
    margin: 0 10px; /* Ajusta los márgenes según tus preferencias */
    padding: 0 10px; /* Agrega un poco de padding interno */
    outline: none; /* Elimina el contorno al enfocar el input */
}

.container3 {
display: flex;
width: 250px;
justify-content: space-evenly;
align-items: center;
justify-items: center;
flex-wrap: wrap;
}

.Inicio, .Registrar {
    color: black;
    text-align: center;
    background-color: #e2f5fe;
    border-radius: 40px;
    width: 100px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px black;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.Inicio:hover, .Registrar:hover {
    transform: translateY(-2px);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #215696;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
}

.container1F {
    color: white;
    text-align: left;
    padding: 0px 10px;
    flex-grow: 1;
}

.container2F {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 20%;
    flex-grow: 1;
}

.link {
    color: white;
    margin-bottom: 10px;
    flex-grow: 1;
    text-align: center;
}

.container3F {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
    flex-grow: 1;

}

.imgGooglePlay {
    width: 150px;
}

.imgAppStore {
    width: 120px;
}